<div>
  <h3>Đăng ký</h3>
  <div class="mb-3 mt-3">
    <label for="userName" class="form-label">Tên đăng nhập:</label>
    <input type="userName" class="form-control" id="userName" [(ngModel)]="user.username" placeholder="Nhập tên đăng nhập" name="email" />
  </div>
  <div class="mb-3 mt-3">
    <label for="fullName" class="form-label">Họ và tên:</label>
    <input type="text" class="form-control" id="fullName" [(ngModel)]="user.fullName" placeholder="Họ và tên" name="fullName" />
  </div>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" placeholder="Email" name="email" />
  </div>
  <div class="mb-3 mt-3">
    <label for="phoneNumber" class="form-label">Số điện thoại:</label>
    <input
      type="phoneNumber"
      class="form-control"
      id="phoneNumber"
      [(ngModel)]="user.phoneNumber"
      placeholder="Số điện thoaại"
      name="phoneNumber"
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Mật khẩu:</label>
    <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password" placeholder="Nhập Mật Khẩu" name="pswd" />
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Xác Nhận Mật khẩu:</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      [(ngModel)]="user.confirmPassword"
      placeholder="Nhập Lại Mật Khẩu"
      name="confirmPassword"
    />
  </div>

  <div class="form-check mb-3">
    <label class="form-check-label"> <input class="form-check-input" type="checkbox" name="remember" /> Remember me </label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="register()">Submit</button>
</div>
